<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cate Rauschenberger</title>
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- BEGIN NAVBAR -->
  <div class="navbar">
    <a href="#top">Home</a>
    <a href="#projects">Projects</a>
    <a href="#experience">Experience</a>
    <a href="#education">Education</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>
  </div>
  <!-- END NAVBAR -->

  <div class="container">

    <!-- HEADER -->
    <div class="jumbotron">
      <a class="anchor" name="top"></a>
      <div class="jumbotron-text">
        <h1>Cate Rauschenberger</h1>
        <p>Full-Stack to Front End Web Developer in Richmond, VA</p>
      </div>
      <div class="jumbotron-social">
        <ul class="ul-social">
          <li class="li-social-links">
            <a class="social" href="https://github.com/crauschy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li class="li-social-links">
            <a class="social" href="https://www.linkedin.com/in/caterauschenberger/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li class="li-social-links">
            <a class="social" href="https://www.facebook.com/cate.rauschy" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="li-social-links">
            <a class="social" href="https://twitter.com/caterauschy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div id="down-arrow">
        <span><a href="#projects"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></span>
      </div>
    </div>
    <!-- END HEADER -->

    <!-- BEGIN ABOUT -->
<!--<div class="row white box-shadow">
<div class="side-content"></div>
<div class="main-content">
<div class="content-header">
<a class="anchor" name="about"></a>
<h2>About</h2>
</div>
<div class="content-body">
<p>This is an About me section</p>
</div>
</div>
<div class="side-content"></div>
</div> -->
<!-- END ABOUT -->
<!-- BEGIN PROJECTS -->
<div class="row box-shadow">
  <div class="side-content-sm"></div>
  <div class="main-content-lg">
    <div class="content-header">
      <a class="anchor" name="projects"></a>
      <h2>Sites and Projects</h2>
    </div>
    <div class="content-body">
      <!-- CARD #NEED -->
      <div class="project-card">
        <div class="project-image" style="background-image: url(images/need.gif)">
          <!-- <img src="http://placehold.it/350x250"> -->
        </div>
        <div class="project-content">
          <h3>Needsupply.com</h3>
          <p>Front End Developer on Agile SCRUM dev team for this Magento e-commerce site. Coded editorials and features to comp spec, worked in custom content management system, and generally maintained the site through sweeping personnel changes. 
          </p>
          <h4>Tech:</h4>
          <p>
            <em>Magento (PHP), Laravel, JavaScript, jQuery, HTML, CSS, SCSS, SQL</em>
          </p>
          <p><a href="https://needsupply.com" target="_blank">Need Supply Co.</a>
          </p>
        </div>
      </div>
      <!-- CARD #TK -->
            <div class="project-card">
        <div class="project-image" style="background-image: url(images/tk.gif)">
          <!-- <img src="http://placehold.it/350x250"> -->
        </div>
        <div class="project-content">
          <h3>Totokaelo.com</h3>
          <p>Front End Developer on Agile SCRUM dev team for this Magento e-commerce site. Coded editorials and features to comp spec, worked in custom content management system, and generally maintained the site through sweeping personnel changes. 
          </p>
          <h4>Tech:</h4>
          <p>
            <em>Magento (PHP), Laravel, JavaScript, jQuery, Vue.js, HTML, CSS, SCSS, SQL</em>
          </p>
          <p><a href="https://totokaelo.com" target="_blank">Totokaelo</a>
          </p>
        </div>
      </div>
      <!-- CARD #1 -->
      <div class="project-card">
        <div class="project-image" style="background-image: url(images/jammin.gif)">
          <!-- <img src="http://placehold.it/350x250"> -->
        </div>
        <div class="project-content">
          <h3>Jammin' on the James</h3>
          <p>Jammin' on the James is a lindy hop dance workshop event that happens in Richmond, VA every October. I'm doing a complete redesign of their site to bring it into the 21st century for this year's event. It employs some fun plugins like animate.css, morphtext, sticky.js. It is designed to be fully responsive, for desktop and mobile devices. At the moment, it is running on a Sinatra framework.
          </p>
          <h4>Tech:</h4>
          <p>
            <em>Ruby, Sinatra, JavaScript, Bootstrap, custom CSS, HTML</em>
          </p>
          <p><a href="https://jamminonthejames2018.herokuapp.com/" target="_blank">Jammin' on the James</a>
            |
            <a href="https://github.com/crauschy/jammin-on-the-james" target="_blank">GitHub Repo</a>
          </p>
        </div>
      </div>

      <!-- CARD #2 -->
      <div class="project-card">
        <div class="project-image" style="background-image: url(images/speak.gif)">
          <!-- <img src="http://placehold.it/350x250"> -->
        </div>
        <div class="project-content">
          <h3>Speak</h3>
          <p>This is a free, online alternative to the sometimes prohibitively expensive Augmentative and Alternative Communication devices that allow nonverbal children (and adults!) to express themselves. It was our capstone project and something I hope to keep working on in the future.
            <br><br>
            This non-traditional web app relies heavily on Amazon Polly (a text-to-speech AWS), click event handling, UX design, and user customizability.
          </p>
          <h4>Tech:</h4>
          <p>
            <em>Ruby, Rails, PostgreSQL, JavaScript, jQuery, AJAX, AWS, Bootstrap, custom CSS, HTML
            </em>
          </p>
          <p><a href="http://dbc-speak.herokuapp.com/" target="_blank">Speak Site</a>
            |
            <a href="https://github.com/crauschy/speak" target="_blank">GitHub Repo</a>
          </p>
        </div>
      </div>
      <!-- CARD #3 -->
      <div class="project-card">
        <div class="project-image" style="background-image: url(images/dev-kitchen.gif)">
          <!--  <img src="http://placehold.it/350x250"> -->
        </div>
        <div class="project-content">
          <h3>DevKitchen</h3>
          <p>This restaurant-concept site was created for a mock client who wanted to crowd-source recipes for her restaurant. It's a Ruby on Rails app in which logged-in users can submit recipes to be featured on the restaurant’s menu by the owner. The owner can create and post the menus right on the site. I handled the menu creation feature, user registration and log in, and group management.
          </p>
          <h4>Tech:</h4>
          <p>
            <em>Ruby, Ruby on Rails, PostgreSQL, JavaScript, Bootstrap, custom CSS, HTML
            </em>
          </p>
          <p><a href="https://calm-depths-40188.herokuapp.com/" target="_blank">DevKitchen Demo</a>
            |
            <a href="https://github.com/crauschy/dev_kitchen" target="_blank">GitHub Repo</a>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="side-content-sm"></div>
</div>
<!-- END PROJECTS -->

<!-- BEGIN EXPERIENCE -->
<div class="row white box-shadow">
  <div class="side-content"></div>
  <div class="main-content experience">
    <div class="content-header">
      <a class="anchor" name="experience"></a>
      <h2>Experience</h2>
    </div>
    <!-- CARD #1 -->
    <div class="content-body">
      <div class="card">
        <div class="card-header">
          <h4>Front End Developer <span class="job-company">// Need Supply Co.</span>  <span class="job-time">May 2018 - Feb 2019</span></h4>
        </div>
        <div class="card-content">
          <p>Maintained and coded for separate e-commerce sites of needsupply.com. and sister-company totokaelo.com. Technologies included</p>
          <ul>
            <li>Magento (PHP), Laravel, JavaScript, Vue.js, jQuery, HTML, CSS, SCSS, SQL</li>
          </ul>
          <p>Coded editorials and features to comp under tight deadlines, more than doubling editorial content output for Totokaelo. Kept sites afloat (as one of two junior devs plus a manager) after lead devs for both left. Organizationally, used:</p>
          <ul>
            <li>Basecamp • Agile Workflow (on Jira) • Git Version Control (Github and Bitbucket)</li>
          </ul>
          <p>References available upon request.</p>
        </div>
      </div>
      <!-- CARD #2 -->
      <div class="card">
        <div class="card-header">
          <h4>Full Stack Web Developer Apprentice <span class="job-company">// Dev Bootcamp</span>  <span class="job-time">July 2017 - Nov 2017</span></h4>
        </div>
        <div class="card-content">
          <p>Participated in daily programming challenges and weekly team projects in an immersive web development program, creating web apps using:</p>
          <ul>
            <li>Ruby, Ruby on Rails, JavaScript, jQuery, HTML, CSS, SQL, AJAX, Amazon Web Services, RSpec, Jasmine, and more</li>
          </ul>
          <p>Work and projects focused on:</p>
          <ul>
            <li>Object-Oriented Design, Test Driven Development, Git, Pair Programming, Agile Development and Workflow, and Engineering Empathy</li>
          </ul>
          <p>It was truly a life changing experience.</p>
        </div>
      </div>

      <!-- CARD #3 -->

      <div class="card">
        <div class="card-header">
          <h4>Production Coordinator <span class="job-company">// Atlanta, GA</span>  <span class="job-time">June 2015 - Sept 2017</span></h4>
        </div>
        <div class="card-content">

          <p>Worked with various producers, clients, and agencies to plan and implement smooth and successful print and commercial shoots, tackling many, varied tasks, including but not limited to:
          </p>
          <ul>
            <li>Transportation, Catering Logistics, Craft Services, Creating Call Sheets, Formatting Production Books, Talent Releases, Casting Calls</li>
          </ul>
          <p>Clients included:</p>
          <ul>
            <li>Coca-Cola, The Home Depot, BCBS of Alabama, Delta, John Deere, Crowne Plaza, Special K, Elanco, Fresenius, Children's Healthcare of Atlanta, Zaxby's, Lifetime, Hasbro, TNT, Cox, Burger King, Capitol One and more</li>
          </ul>
        </p>
      </div>
    </div>

    <!-- CARD #4 -->

    <div class="card">
      <div class="card-header">
        <h4>Account Executive <span class="job-company">// The DiCarlo Group</span>  <span class="job-time">May 2014 - June 2015</span></h4>
      </div>
      <div class="card-content">
        <p>Helped drive ad sales for Time, Inc. publications, specifically Travel + Leisure and DEPARTURES magazines, in the Southeast, communicating between advertisers, their agencies, and the NY marketing team throughout the media planning process</p>
        <ul style="list-style: circle;">
          <li style="font-style: normal;">Tracked and updated SalesPLAN (Time's own Salesforce product) to reflect accurate revenue forecasting</li>
          <li style="font-style: normal;">Composed weekly territorial reports, participated in weekly sales meetings, and generally assist the Sales Manager and Account Director</li>
        </ul>
      </div>
    </div>

    <!-- CARD #5 -->

    <div class="card">
      <div class="card-header">
        <h4>Guide <span class="job-company">// Fresco Tours, CETA Tours</span>  <span class="job-time">May 2012 - May 2016 <em>(seasonally)</em></span></h4>
      </div>
      <div class="card-content">
        <p>Led 10-day tours on the Camino de Santiago, a pilgrimage trail in Spain, for groups of 10+ adults from all over the world; led overnight trips through Madrid, Andalucía, and Barcelona for American high school groups</p>
        <ul style="list-style: circle;">
          <li style="font-style: normal;">Coordinated and handled payment for transportation, meals, entertainment, and hotels for groups</li>
          <li style="font-style: normal;">Handled cash disbursements and accounting for each tour</li>
          <li style="font-style: normal;">Wore many hats: Gourmet picnic preparer, Spanish interpreter, storyteller, problem-solver</li>
          <li style="font-style: normal;">Designed a Fresco Tours media kit and other collateral, contributing copy and photography</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="side-content"></div>
</div>
<!-- END EXPERIENCE -->

<!-- BEGIN EDUCATION -->
<div class="row white">
  <div class="side-content"></div>
  <div class="main-content education">
    <div class="content-header">
      <a class="anchor" name="education"></a>
      <h2>Education</h2>
    </div>
    <div class="content-body">

      <!-- EDUCATION 1 -->
      <div class="card">
        <div class="card-header">
          <h3>The University of Georgia <span class="degrees">B.B.A. International Business<br>B.A. Spanish Language</span></h3>
        </div>
        <div class="card-content">
          <p class="accolades">Honors Program,  Magna cum laude,  National Merit Scholar, 3.83 GPA</p>
        </div>
      </div>

    </div>
  </div>

  <div class="side-content"></div>
</div>

<!-- END EDUCATION -->


<!-- BEGIN SKILLS -->
<div class="row skills">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
      <a class="anchor" name="skills"></a>
      <h2 class="white-text">Skills</h2>
    </div>
    <div class="content-body">
      <ul class="ul-skills">
        <li class="li-skills">Ruby</li>
        <li class="li-skills">JavaScript</li>
        <li class="li-skills">jQuery</li>
        <li class="li-skills">Ruby on Rails</li>
        <li class="li-skills">Magento (PHP)</li>
        <li class="li-skills">Vue.js</li>
        <li class="li-skills">SQL</li>
        <li class="li-skills">RSpec</li>
        <li class="li-skills">Jasmine</li>
        <li class="li-skills">REST API</li>
        <li class="li-skills">AWS</li>
        <li class="li-skills">Git</li>
        <li class="li-skills">GitHub</li>
        <li class="li-skills">CSS</li>
        <li class="li-skills">SCSS</li>
        <li class="li-skills">HTML</li>
        <li class="li-skills">Bootstrap</li>
      </ul>
    </div>
  </div>
  <div class="side-content"></div>
</div>
<!-- END SKILLS -->


<!-- BEGIN CONTACT -->

<div class="row blue">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
      <a class="anchor" name="contact"></a>
      <h2 class="white-text">Contact Me</h2>
    </div>
    <div class="contact content-body">
      <form method="POST" action="https://formspree.io/catecodes@gmail.com">
        <input type="hidden" name="_subject" value="Contact request from personal website" />
        <input type="email" name="_replyto" placeholder="Your email" required>
        <textarea name="message" placeholder="Your message" required></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="side-content"></div>
</div>
<!-- END CONTACT -->

<!-- BEGIN FOOTER -->
<div class="row">
  <div class="side-content"></div>
  <div class="main-content">
    <div class="content-header">
    </div>
    <div class="content-body">
      <div id="up-arrow">
        <span><a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
  <div class="side-content"></div>
</div>
<!-- END FOOTER -->

</div>
</body>
</html>
